# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/

# Logs
*.log

# Python virtual environment
.venv/
__pycache__/
*.pyc

# Local SQLite databases
*.db
*.sqlite3

# Temp files
temp_pdfs/

